body {
  background-color: #1a1a1d;
  color: white;
}

header {
  min-width: 25%;
  max-width: 500px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #6f2232;
}

button {
  text-decoration: none;
  color: #c3073f;
  padding: 5px 15px;
  display: inline-block;
  position: relative;
  border: 1px solid #c3073f;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.form_list {
  text-decoration: none;
  color: #c3073f;
  padding: 5px 15px;
  display: inline-block;
  position: relative;
  border: 1px solid #c3073f;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

nav {
  text-align: center;
}

.nav_btn {
  float: right;
  font-size: larger;
}

h2 {
  margin: 0 auto;
  text-align: center;
  min-width: 25%;
  max-width: 500px;
  border: 3px solid #6f2232;
}

.list_items {
  text-align: center;
  list-style: inside;
  
}

.list-container {
  text-align: center;
  margin: 0 auto;
  
}

.list-container button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

.student-list li {
  display: inline-grid;
  text-align: center;
  min-width: 5%;
  max-width: 15%;
  margin: 10px;
  margin-left: 0;
  list-style: none;
  border: 3px solid #6f2232;
  width: 50%;
}

.add_student {
  text-align: center;
  min-width: 25%;
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
  border: 3px solid #6f2232;
}

.add_student input {
  margin-left: 5px;
  margin-bottom: 10px;
}

.form_wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.just-added {
  color: green;
  text-align: center;
  font-weight: bold;
}

.inline_alignment {
  display: inline-block;
}

.other_case {
  padding: 0 20px 0 10px;
}

.filter_students {
  text-align: center;
  min-width: 25%;
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
  border: 3px solid #6f2232;
}

.filter_students #block {
  margin: 10px;
}

.grad_buttons {
  display: flex;
  margin: 0 auto;
}

.stud_graduated {
  text-align: center;
  color: green;
}

.stud_repeated {
  text-align: center;
  color: red;
}
