body {
  background-image: url('./leaves.png');
  background-repeat: repeat;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

nav {
  text-align: center;
}

nav button {
  margin: 0.5em;
}
